@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 1125px) {
    .container-home {
        display: flex !important;
        min-width: 300px !important;
        align-items: center !important;
    }

    .container-home .nav-menu {
        position: fixed !important;
        align-items: center !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 50px !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around !important;
        align-items: center !important;
        z-index: 9999 !important;
        margin: 5px 0;
    }

    .container-home .menu-bottom {
        display: none !important;
    }


    .container-home .main-menu h2 {
        margin-top: 30px;
        margin-left: 35px;
    }

    .container-home .main-menu {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important; 
        width: 93% !important;
    }

    .container-home .main-menu textarea,
    .container-home .main-menu .post {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    #tweet {
        margin: auto !important;
    }

    #tweet-button {
        margin-right: auto;

    }

    .profile-user {
        margin-top: 30px !important;
    }

    .feed-user .post {
        width: 85% !important;
    }
}


:root {
    --bg-color: #ECECEC;
    --bg-text-area: #ECECEC;
    --text-color: #000000;
    --toggle-theme: #492d49;
}

.dark-mode {
    --bg-color:  #222222;
    --bg-text-area: #292929;
    --text-color: #E0E0E0;
    --toggle-theme: #fcb653;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-color);
    max-width: 100%;
}

ul {
    list-style: none;
}


/* Logo */

a#logo {
    font-family: "Jaro", sans-serif;
    font-size: 34px;
    color: var(--text-color);
    text-decoration: none;
}

/* Erros */

.flash-message {
    display: flex;
    margin: 0 auto;
    font-size: 13px;
    color: #d9543f;
}


/* Login */

.container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px;
}

.container-index .login form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
}

.container-index .register {
    margin-top: 15px;
}

.container-index .register a {
    text-decoration: none;
    color: #5cacc4;
    font-weight: 600;
}

.container-index input {
    font-family: "Open Sans", sans-serif;
    padding: 13px 20px;
    font-size: 15px;
}

.container-index button {
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    border-radius: 7px;
    background-color: #5cacc4;
    font-weight: 600;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.container-index .forgot {
    margin-top: 15px;
}

.container-index .forgot a {
    text-decoration: none;
    color: #5cacc4;
    font-weight: 600;
}

.container-index p {
    color: var(--text-color);
}


                                                    /* Footer */

footer {
    position: absolute;
    width: 100%;
    bottom: 15px;
    background-color: var(--bg-color);
}

.dropdown {
    display: flex;
    justify-content: center;
}

.dropdown .dropbtn {
    border: none;
    color: #5cacc4;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    bottom: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #5cacc4;
    padding: 8px 5px;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


/* Registrar */

.container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px;
}

.container-register .register form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
}

.container-register input {
    font-family: "Open Sans", sans-serif;
    padding: 13px 20px;
    font-size: 15px;
}

.container-register button {
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    border-radius: 7px;
    background-color: #5cacc4;
    font-weight: 600;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


/* Forgot Password */

.container-forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px;

}

.container-forgot form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
}


.container-forgot label {
    font-weight: 700;
}

.container-forgot input {
    padding: 10px 35px;
    outline: none;
}

.container-forgot button {
    padding: 10px 15px;
    border: none;
    background-color: #5cacc4;
    font-weight: 600;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
}



/* Reset Password */

.container-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.container-reset button:last-child {
    margin-top: 25px;
    padding: 10px 15px;
    border: none;
    background-color: #5cacc4;
    font-weight: 400;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
}

.container-reset form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.container-reset label {
    font-weight: 700;
}

.container-reset input {
    padding: 10px 35px;
    outline: none;
    text-align: center;
}

.container-reset a {
    cursor: pointer;
}




                                                    /* Home */

/* Nav */

.container-home {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}

.container-home .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding:25px 35px;
    gap: 5px;
}


.container-home .nav-menu ul li a, .container-home .nav-menu a{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}

.menu-bottom {
    margin-top: auto;
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    width: 170px;
    padding: 15px;
    box-sizing: border-box;
}

.submenu li {
    width: 100%;
    padding: 10px 0;
}

.submenu.active{
    display: block;
}

.theme-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #cecece;
}

input:checked + .slider:before {
    transform: translateX(18px);
    background-color: #000000;
}

#theme-label {
    margin-left: 10px;
    font-size: 16px;
    color: var(--text-color);
    font-weight: bold;
}

.container-home a#logout-link {
    color: #fc1a1a;
}

#language-submenu label{
    color: var(--text-color);
    font-size: 15px;
}


/* Post */

.container-home .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 25px;
}

.main-menu #for-you-text {
    margin-right: 70px;
}

.main-menu textarea {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 134px;
    width: 100%;
    max-width: 73.3%;
    display: block;
    resize: none;
    box-sizing: border-box;
    background-color: var(--bg-text-area);
    color: var(--text-color);
    outline: none;
    border: solid 0.4px #c0c2bd;
    min-height: 80px;
    padding-right: 60px;
}

.cancel-button {
    display: inline-block;
    margin-top: 10px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.save-button{
    display: inline-block;
    margin-top: 10px;
}

.main-menu #tweet {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-menu #tweet button {
    position: absolute;
    right: 150px;
    bottom: 10px;
    background-color: #5cacc4;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 7px;
    border: none;
    border-radius: 9px;
    width: auto;
    min-width: 40px;
    text-align: center;
}

.main-menu textarea::placeholder {
    color: var(--text-color);
    text-align: justify;
}

.main-menu button {
    display: flex;
    align-items: end;
    padding: 7px 10px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #5cacc4;
    border-radius: 0px 10px 10px 0px;
}


.main-menu .post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 73%;
    margin-bottom: 7px; 
    margin-right: 60px;
    padding: 10px;
    color: var(--text-color);
    box-shadow: 0px 1px 2px 0px #9c9c9c;
    box-sizing: border-box;
}

.main-menu .post .content-top {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}


.content-top #content-toggle {
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 7px;
    user-select: none;
}

.content-top .content-submenu {
    display: none;
    position: absolute;
    left: 87%;
    top: 100%;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    width: 130px;
    padding: 15px;
    box-sizing: border-box;
}

.content-top .content-submenu.active {
    display: block;
}

.content-top .content-submenu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 5px 0;
}

.content-top .content-submenu li a{
    font-size: 15px;
    font-weight: 600;
}

.edit-container .hidden {
    display: none;
}

.edit-container textarea {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content-top #time_since_creation {
    font-size: 10px;
    margin-left: 2px;
}


.main-menu .post .content-top p {
    margin-left: 12px;
    font-size: 19px;
}

.main-menu .post p#content {
    display: flex;
    margin-left: 11px;
    font-size: 15px;
    margin-top: 8px;
}

.main-menu #tweet {
    display: flex;
    justify-content: center;
    align-items: end;
}

.main-menu .post a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}


.main-menu h2 {
    color: var(--text-color);
}


.main-menu .like-button {
    background-color: var(--bg-color);
}

.main-menu .reaction {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    gap: 500px;
}

.material-symbols-outlined {
    color: var(--text-color);   
    transition: color 0.3s ease; 
}


.material-symbols-outlined.liked {
    color: #eb3f3f;
}

.material-symbols-outlined:hover {
    cursor: pointer;
    color: #eb3f3f;
}


.reaction button {
    display: flex;
    border-radius: 15px;
    align-items: center;
}

.reaction .like-count {
    color: var(--text-color);
    margin-left: 5px;
}





                                                /* Profile */

.profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.profile-container .profile-user {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.profile-container .user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.hidden {
    display: none;
}


.options {
    position: absolute;
    flex-direction: column;
    top: 80px;
    left: 56%;
    transform: translateX(-50%);
    width: 30%;
    height: 60%;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}

.options .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options .btn h1 {
    color: #5cacc4;
    font-weight: 700;
    font-size: 18px;
}

.options .btn button{
    background-color: #5cacc4;
    font-weight: 600;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
}

.options form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options input {
    background-color: var(--bg-text-area);
    border: none;
    color: var(--text-color);
    outline: #5cacc4;
    padding: 15px 0px 15px 5px;
    font-size: 15px;
    border: solid 0.4px #c0c2bd;
    border-radius: 7px;
}

.options textarea {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-text-area);
    color: var(--text-color);
    resize: none;
    border: solid 0.4px #c0c2bd;
    padding: 5px;
    outline: #5cacc4;
    border-radius: 7px;
}


.profile-container .user h1 {
    font-size: 25px;
}

.profile-container .user a#edit-profile-button {
    text-decoration: none;
    color: white;
    background-color: #5cacc4;
    font-size: 13px;
    padding:  6px 8px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.profile-container .information button:last-child {
    display: inline-block;
    width: 90px;
    margin-left: 50px;
}

.profile-container .follow {
    padding: 7px 15px;
    background-color: #5cacc4;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
}

.profile-container .follow.active {
    background-color: #c0c2bd; 
    color: #6cbdb5; 
}

.profile-container .information {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 15px;
}

.profile-container .bio {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 15px;
}

.profile-container h1 {
    color: var(--text-color);
}

.profile-container p {
    color: var(--text-color);
}


/* Feed Profile */

.feed-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.feed-user h2 {
    color: #5cacc4;
}

.feed-user .post {
    display: inline-block;
    width: 32%;
    min-height: 110px;
    margin-top: 15px;
    gap: 65px;
    padding: 10px;
    color: var(--text-color);
    box-shadow: 0px 1px 2px 0px #9c9c9c;
}

.feed-user .post .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.feed-user .post .content-top p#display-user-account {
    font-size: 16px;
    margin-left: 12px;
}

.feed-user .post .content-top p#time {
    font-size: 13px;
    margin-right: 15px;
    margin-top: 2px;
}

.feed-user .post p#content {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}






/* Edit Profile */

.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.edit-profile-container h1 {
    color: #5cacc4;
}

.edit-profile-container label{
    color: var(--text-color);
}

.edit-profile-container .options form{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 3px;
}

.edit-profile-container .options input {
    width: 300px;
    height: 30px;
    background-color: var(--bg-text-area);
    color: var(--text-color);
    border: 0.5px solid #9c9c9c;
    text-align: start;
    outline: none;
    font-size: 14px;
}

.edit-profile-container .options textarea {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-text-area);
    color: var(--text-color);
    font-size: 14px;
    resize: none;
    outline: none;
    border: 0.5px solid #9c9c9c;
    box-sizing: border-box;
}

.edit-profile-container .options form button:last-child {
    margin-top: 20px;
    background-color: #5cacc4;
    border: 15px;
    padding: 14px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}

.edit-profile-container .flash-message {
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
}




@supports (-moz-appearance: none) {
    .main-menu textarea {
        max-width: 84%;
    }

    .main-menu .post {
        max-width: 83.8%;
        margin-right: 142px;
    }
}


.language-selector {
    display: flex;
    justify-content: right;
}