<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite" />
</head>
<body>
    <nav>
        <div class="container-home">
            <div class="nav-menu">
                <a href="{{ url_for('homeView.home') }}" id="logo">MPV</a>
                <a href="{{ url_for('homeView.home') }}" id="home-link">Página Inicial</a>
                <a href="{{ url_for('homeView.profile', user_id=session['user_id']) }}" class="profile-button" id="profile-link">Perfil</a>

                <div class="menu-bottom">
                    <a href="#" id="menu-toggle">Mais</a>
                    <ul class="submenu" id="main-submenu">
                        <li id="submenu-item">
                            <a href="#" id="theme-toggle">Tema</a>
                        </li>
                        <li id="submenu-item">
                            <a href="#" id="language-toggle">Idioma</a>
                        </li>
                        <li><a href="#" id="settings-toggle">Configurações</a></li>
                        <li><a href="{{ url_for('homeView.logout') }}" id="logout-link">Sair</a></li>
                    </ul>

                    <ul class="submenu" id="theme-submenu">
                        <li><a href="#" id="back-to-theme-menu">← <span id="theme-label">Modo Escuro</span></a></li>
                        <label class="theme-toggle">
                            <input type="checkbox" id="theme-switcher">
                            <span class="slider"></span>
                        </label>                   
                    </ul>

                    <ul class="submenu" id="language-submenu">
                        <li><a href="#" id="back-to-language-menu">← <span id="language-span">Idioma</span></a></li>
                        <li>
                            <label for="language-selector" id="language-label">Escolha o idioma:</label>
                            <select id="language-selector">
                                <option value="pt">Português</option>
                                <option value="en">English</option>
                            </select>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="main-menu">
                <h2 id="for-you-text">Para você</h2>

                <form action="/" method="post" id="tweet">
                        <textarea name="content" 
                            placeholder="Escreva o que você está pensando..."
                            maxlength="150" 
                            rows="3" 
                            cols="77" 
                            class="text" id="post-placeholder">
                        </textarea>
                        <button type="submit" id="tweet-button">Postar</button>
                </form>

                {% for post in posts %}
                    <div class="post">
                        <div class="content-top">
                            <p>
                                <strong><a href="{{ url_for('homeView.profile', user_id=post['user_id']) }}">{{ post.user_account }}</a></strong>
                                <small id="time_since_creation">{{ time_since_creation(post.created_at) }}</small>
                            </p>
                            <a href="#" id="content-toggle">⋮</a>
                            <ul class="content-submenu" id="content-submenu">
                                <li id="submenu-item">
                                    {% if post.user_id == session['user_id'] %}
                                        <div id="post-container-{{ post['post_id'] }}" class="edit-container">
                                            <textarea id="edit-textarea-{{ post['post_id'] }}" class="hidden">{{ post['content'] }}</textarea>
                                            <button onclick="saveEdit({{ post['post_id'] }})" class="hidden" id="save-button-{{ post['post_id'] }}">Salvar</button>
                                            <a href="#" onclick="cancelEdit({{ post['post_id'] }})" id="cancel-button-{{ post['post_id'] }}" class="hidden">Cancelar</a>
                                        </div>
                                        <a href="#" class="button-edit" data-post-id="{{ post['post_id'] }}" id="edit-button">Editar</a>
                                        <a href="#" class="button-delete" data-post-id="{{ post['post_id'] }}" id="delete-button">Apagar</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>

                        <p id="content">{{ post.content.replace('\n', '<br>') | safe }}</p>

                        <div class="reaction">
                            <button class="like-button" 
                                    id="like-button-{{ post.post_id }}" 
                                    onclick="toggleLike({{ post.post_id }})">
                                <span id="like-icon-{{ post.post_id }}" 
                                        class="material-symbols-outlined {{ 'liked' if post.liked else 'unliked' }}">
                                    favorite
                                </span>
                                <span id="like-count-{{ post.post_id }}" class="like-count">{{ post.likes }}</span>
                            </button>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='home.js') }}" defer></script>
</body>
</html>