<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <main>
        <div class="container-index">
            <a href="{{ url_for('homeView.home') }}" id="logo">MPV</a>
            <div class="login">
                <form action="/login" method="POST">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="password" name="password" id="password" placeholder="Senha" required>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'error' %}
                                    <div id="error-message" class="flash-message {{ category }}">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <button type="submit">Entrar</button>
                </form>
            </div>
            <div class="register">
                <p id="register-text">Não tem uma conta? <a href="{{ url_for('loginView.register') }}">Cadastre-se</a></p>
            </div>
            <div class="forgot">
                <p id="forgot-text"><a href="{{ url_for('loginView.forgot_password') }}">Esqueceu a senha?</a></p>
            </div>
        </div>
    </main>
    <footer>
        <div class="dropdown" id="language-dropdown">
            <button class="dropbtn" id="language-btn" onclick="toggleDropdown()">Português</button>
            <div class="dropdown-content">
                <a href="#" onclick="changeLanguage('pt')">Português</a>
                <a href="#" onclick="changeLanguage('en')">English</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}" defer></script>
</body>
</html>