<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - MPV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="container-home">
            <div class="nav">
                <a href="{{ url_for('homeView.home') }}" id="logo">MPV</a>
                <a href="{{ url_for('homeView.profile', user_id=session['user_id']) }}" class="profile-button">Perfil</a>


                <div class="menu-bottom">
                    <a href="#" id="menu-toggle">Mais</a>
                    <ul class="submenu" id="main-submenu">
                        <li id="submenu-item">
                            <a href="#" id="theme-toggle">Tema</a>
                        </li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="{{ url_for('homeView.logout') }}" id="logout">Sair</a></li>
                    </ul>

                    <ul class="submenu" id="theme-submenu">
                        <li><a href="#" id="back-to-menu">← <span id="theme-label">Modo Escuro</span></a></li>
                        <label class="theme-toggle">
                            <input type="checkbox" id="theme-switcher">
                            <span class="slider"></span>
                        </label>                   
                    </ul>
                </div>
                
            </div>
        </div>
    </header>

    <main>
        <div class="profile-container">
            <div class="profile-user">
                <div class="user">
                    <h1>{{ user.user_account }}</h1>
                    {% if user.id == session['user_id'] %}
                        <a href="{{ url_for('homeView.edit_profile') }}" class="edit-profile-button" id="edit-perfil">Editar Perfil</a>
                    {% endif %}
                </div>
                <div class="information">
                    <p><strong>Posts:</strong> {{ num_posts }}</p>
                    <p><strong>Seguidores:</strong> {{ followers_count }}</p>
                    <p><strong>Seguindo:</strong> {{ following_count }}</p>
                    {% if user.id != session['user_id'] %}
                        <form action="{{ url_for('actionView.follow_unfollow', user_id=user.id) }}" method="POST">
                            <button type="submit" class="follow">
                                {% if not is_following %}
                                    Seguir
                                {% else %}
                                    Seguindo
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}
                </div>
                <div class="bio">
                    <p><strong>Bio:</strong> {{ user.bio or "Ainda não adicionada." }}</p>
                </div>
            </div>

            <div class="feed-user">
                <h2>Posts</h2>
                {% if posts %}
                    {% for post in posts %}
                        <div class="post">
                            <div class="content-top">
                                <p id="user_account"><strong>{{ user.user_account }}</strong></p>
                                <p id="time">
                                    <small>{{ time_since_creation(post['created_at']) }}</small>
                                </p>
                            </div>
                            
                            <p id="content">{{ post['content'] }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Este usuário ainda não publicou nada.</p>
                {% endif %}
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
